*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, router-outlet{
    overflow-x: hidden;
}

header{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ff006e;
    justify-content: space-between;
    border-radius: 10px;
}

.logo{
    padding: 1rem 0;
    background-color: #ff006e;
    align-items: center;
    text-align: center;
}

.logo h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #17183B;
    font-size: 2em;
    font-family: "Roboto", sans-serif;

}

nav {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8338ec;
    gap: 10px;
    margin: 0 0.5rem;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: #f1faee;
    font-size: 1em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

nav a:hover {
    text-decoration: underline;
    color: #ffccd5;

}

nav a.active{
    color: #4a4e69;
    font-weight: bold;
}